
.email {
    margin-left: 10px; 
    width: 20%; 
    max-width: 400px;
    min-width: 150px; 
    border-width: 1px; 
    border-color: #d8d8d8; 
    border-radius: 7px; 
    margin-right: 5px; 
    height: 25px; 
    padding-left: 10px; 
    font-size: 1em
}
.submit {
    font-size: 1.25em; 
    width: 20%; 
    max-width: 200px; 
    padding: 8px; 
    border-color: #d8d8d8; 
    background-color: white; 
    border-radius: 25px; 
    /* color: gray; */
    font-family: 'Lato-Bold';
    margin-top: 15px;
}
@media (max-width: 991px) {
    .email {
        width: 70%
    }
    .submit {
        width: 80%
    }
}